.option {
  background: #242424;
  font-weight: 300;
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #404040;
}
.option:last-child {
  border-bottom: 1px solid #404040;
}

.list {
  background: transparent;
}
.option a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}

.logotipo {
  margin-right: 10px;
}
