.header {
  background: #242424;
  border-bottom: 1px solid #000000;
}

.headerOpt {
  display: flex;
  background: #242424;
}

.logo {
  flex-grow: 1;
  padding-top: 8px;
}
.logo img {
  width: 35px;
}

.bars {
  background: #242424;
  padding: 10px;
}
