* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #ececec;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
