.footer {
  margin-top: 20px;
  display: flex;
  background: #242424;
  align-items: center;
  justify-content: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer img {
  margin-right: 10px;
}

.footer a,
img {
  background: transparent;
  color: #878787;
}
