.newslist_item {
  border: 1px solid #f2f2f2;
  background: #fff;
  margin-top: 0px;
  padding: 8px 5px 0 5px;
}

.newslist_item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
  background: transparent;
}

.newslist_item a {
  text-decoration: none;
  background: transparent;
}

.newsList_wrapper {
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .5s ease-in;
}

.newsList_wrapper_enter {
    opacity: 1;
    transform: translateX(0%);
}